<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
<div class="navbar">
  <div class="titulo px-3">
    <nav class="dropdownmenu">
      <ul>
        <li><a routerLink="" routerLinkActive="active-link">STY</a></li>
        <li><a href="#" style="border: 1px solid black;">Plataformas</a>
          <ul id="submenu">
            <li><a href="#" style="border-radius: 0;">EVA</a></li>
            <li><a href="#" style="border-radius: 0;">Siga </a></li>
            <li><a href="#" style="border-radius: 0;">Ignug</a></li>
            <li><a href="#" style="border-radius: 0 0 15px 15px ;">YEC</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="botones">
    <nav class="options">
      <ul>
        <li><a routerLink="login" routerLinkActive="active-link" class="btn2" >Cerrar Sesión</a></li>
      </ul>
    </nav>
    
  </div>
</div>