

<html>
<body>
  <div class="seccion3">
    <div class="texto-boton3">
      <img src="../../assets/img/home4.png">
    </div>
    <div class="imagen3">
      <div class="login">
        <form [formGroup]="loginform" (ngSubmit)="proceedlogin()">
            <h1>Login</h1>
            <hr>
            <label>Email</label>
            <input matInput formControlName="id" type="email" placeholder="abc@exampl.com">
            <label>Password</label>
            <input matInput formControlName="password" type="password" placeholder="enter your password!" >
            <button type="submit">Submit</button>
            <p>
                <a href="#">Forgot Password?</a>
                <button style="margin-left: -20px;" routerLink="/register" mat-raised-button type="submit">Registrate</button><br>

            </p>
        </form>

   <!--     <hr>
                <h3 class="mt-5">Formulario</h3>
                <pre>Estado Formulario:{{loginForm.valid}}
                <br>
                Status:{{loginForm.status}}
              </pre>
              <pre>
                {{loginForm.value | json}}
              </pre>
    -->
    </div>
      </div>
  </div> 
</body>
</html>

